<div class="side">
    <ul>
        <li ng-class="{'actived':selectNav==0}"><i class="fa fa-check-square-o"></i><a ui-sref="control">控制面板</a></li>
        <li ng-class="{'actived':selectNav==1}"><i class="fa fa-id-card-o"></i><a ui-sref="user">用户管理</a></li>
        <li ng-class="{'actived':selectNav==2}"><i class="fa fa-address-card-o"></i><a ui-sref="scenery">景点管理</a></li>
        <li ng-class="{'actived':selectNav==3}"><i class="fa fa-book"></i><a  ui-sref="hotel">酒店管理</a></li>
        <li ng-class="{'actived':selectNav==4}"><i class="fa fa-book"></i><a  ui-sref="route">路线管理</a></li>
        <li ng-class="{'actived':selectNav==5}"><i class="fa fa-info-circle"></i><a ui-sref="order">订单管理</a></li>
        <li ng-class="{'actived':selectNav==6}"><i class="fa fa-info-circle"></i><a ui-sref="viewpoint">评论管理</a></li>
</ul>
</div>