.hotel-page{
	width:1080px;
	margin:auto;
	margin-top:122px;
}
.place-hotel-center{
	margin:auto;
	/*width:968px;*/
	margin-top:20px;
}
.pos-top{
	display: inline-block!important;
    margin-left: 13px !important;
    margin-bottom: 20px !important;
}
.juli,.price{
	position: absolute;
    top: 165px;
    left: 286px;
    color: #fff;
}
.price{
	  left: 315px;
}